---
import Canva from "@components/ui/Canva.astro";
---

<section>
    <h2>Game of Life</h2>
    <p>
        this is implemented by following<a
            href="https://codelabs.developers.google.com/your-first-webgpu-app#0"
            >this</a
        >course
    </p>
</section>
<Canva />

<style>
    a {
        padding: 1ch;
    }
</style>

<script src="./index.ts"></script>
