---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="WebGPU">
    <article>
        <section>
            <h4>What is WebGPU?</h4>
            <p>
                WebGPU is a new, modern API for accessing the capabilities of
                your GPU in web apps.
            </p>
        </section>

        <section>
            <aside>
                WebGPU is currently in its working draft stage, meaning it's
                still under development and not yet universally supported by all
                browsers.
            </aside>
        </section>

        <section>
            <h4>Learning Resouces</h4>
            <ul>
                <li>
                    <a
                        href="https://codelabs.developers.google.com/your-first-webgpu-app#0"
                        >Game of Life using compute shader by google</a
                    >
                </li>

                <li>
                    <a href="https://webgpufundamentals.org/"
                        >Webgpu Fundamentals
                    </a>
                </li>

                <li>
                    <a href="https://github.com/gpuweb/"
                        >Official Github repository
                    </a>
                </li>

                <li>
                    <a href="https://www.w3.org/TR/webgpu/">w3c- webgpu docs</a>
                </li>

                <li>
                    <a href="https://www.w3.org/TR/WGSL/"
                        >WGSL (WebGPU Shading Language) docs</a
                    >
                </li>
                <li>
                    <a href="https://webgpu.github.io/webgpu-samples/"
                        >webgpu sample projects</a
                    >
                </li>

                <li>
                    <a
                        href="https://github.com/kishimisu/WebGPU-Fluid-Simulation"
                        >WebGPU Fluid Simulation</a
                    >
                </li>

                <li>
                    Find more resouces <a
                        href="https://github.com/mikbry/awesome-webgpu">here</a
                    >
                </li>
            </ul>
        </section>
    </article>
</Layout>

<style>
    article {
        padding: 1rem;
    }
</style>
