
<aside>
    <h1>WebGPU Showcase</h1>
    
    <hr >
    <section>
        <h3>Shader Art</h3>
        <ul>
            <li><a href="/shader-art/pattern1">Pattern 1</a></li>
            <li><a href="/shader-art/pattern2">Pattern 2</a></li>
            <li><a href="/shader-art/pattern3">Pattern 3</a></li>
        </ul>
    </section>
    <hr>
    <section>
        <h3>Ray Marching</h3>
        <ul></ul>
    </section>
    <hr>
    <section>
        <h3>Ray Tracing</h3>

        <ul></ul>
    </section>
    <hr>
    <section>
        <h3>Other</h3>
        <ul>
            <li><a href="/other/game-of-life">Game of Life</a></li>
        </ul>
    </section>
</aside>



<style>
    aside{
        width: 18rem;
        height: 100vh;
        /* position: fixed;
        top:0%;
        left:0%; */
        background-color: rgb(39, 0, 76);
        overflow-y: auto;
        padding: 1rem;
        position: sticky;
        top: 0%;
        left: 0%;
    }
</style>